{% extends "scuffle/base.html" %}
{% block "title" %}List of clans{% endblock %}
{% block "content" %}

<h1>All clans</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veniam sapiente eveniet possimus, similique corporis voluptatibus ab, porro sit architecto natus sed repellendus laborum beatae, quas et? Nam, nostrum ducimus. Something witty or something. </p>
<p>Something cool about the rivalry within the mischief that we're working together but a bit of scuffle for ~~cheese~~ points is always cool.</p>

{% for clan in clans %}
    <div style="text-align: center;">

        <h2>
            <a href="{% url 'scuffle:clan' pk=clan.id %}">
                {{clan.icon}} {{clan.name}} {{clan.icon}}
            </a>
        </h2>
        <p> {{clan.description}} </p>

        <div>
            <h3>Points total:</h3>
        </div>

        <div>
            <h3>The most points in the clan:</h3>
        </div>

        <hr>
        
    </div>
{% endfor %}

{% endblock %}